# Directorios generados
build/
dist/
coverage/
node_modules/

# Archivos de dependencias
package-lock.json
yarn.lock

# Archivos públicos
public/

# Archivos de configuración que no deben formatearse
.env*
*.min.js
*.min.css

# Archivos de documentación específicos
CHANGELOG.md